@import '../../__assets/css/rem';


.rkhy-input__inner, .rkhy-textarea__inner {
    background-image: none;
    box-sizing: border-box
}

.rkhy-input, .rkhy-input__inner {
    width: 100%;
    display: inline-block
}

.rkhy-slider__button-wrapper:after {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle
}

.rkhy-slider:after, .rkhy-slider:before {
    display: table;
    content: ""
}

.rkhy-slider:after {
    clear: both
}

.rkhy-input {
    position: relative;
    font-size: 14px
}

.rkhy-input.is-disabled .rkhy-input__inner {
    background-color: #eef1f6;
    border-color: #d1dbe5;
    color: #bbb;
    cursor: not-allowed
}

.rkhy-input.is-disabled .rkhy-input__inner::-webkit-input-placeholder {
    color: #bfcbd9
}

.rkhy-input.is-disabled .rkhy-input__inner::-moz-placeholder {
    color: #bfcbd9
}

.rkhy-input.is-disabled .rkhy-input__inner:-ms-input-placeholder {
    color: #bfcbd9
}

.rkhy-input.is-disabled .rkhy-input__inner::placeholder {
    color: #bfcbd9
}

.rkhy-input.is-active .rkhy-input__inner {
    outline: 0;
    border-color: #20a0ff
}

.rkhy-input__inner {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #bfcbd9;
    color: #1f2d3d;
    font-size: inherit;
    height: 36px;
    line-height: 1;
    outline: 0;
    padding: 3px 10px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.rkhy-input__inner::-webkit-input-placeholder {
    color: #97a8be
}

.rkhy-input__inner::-moz-placeholder {
    color: #97a8be
}

.rkhy-input__inner:-ms-input-placeholder {
    color: #97a8be
}

.rkhy-input__inner::placeholder {
    color: #97a8be
}

.rkhy-input__inner:hover {
    border-color: #8391a5
}

.rkhy-input__inner:focus {
    outline: 0;
    border-color: #20a0ff
}

.rkhy-input__icon {
    position: absolute;
    width: 35px;
    height: 100%;
    right: 0;
    top: 0;
    text-align: center;
    color: #bfcbd9;
    transition: all .3s
}

.rkhy-input__icon:after {
    content: '';
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle
}

.rkhy-input__icon + .rkhy-input__inner {
    padding-right: 35px
}

.rkhy-input__icon.is-clickable:hover {
    cursor: pointer;
    color: #8391a5
}

.rkhy-input__icon.is-clickable:hover + .rkhy-input__inner {
    border-color: #8391a5
}

.rkhy-input--large {
    font-size: 16px
}

.rkhy-input--large .rkhy-input__inner {
    height: 42px
}

.rkhy-input--small {
    font-size: 13px
}

.rkhy-input--small .rkhy-input__inner {
    height: 30px
}

.rkhy-input--mini {
    font-size: 12px
}

.rkhy-input--mini .rkhy-input__inner {
    height: 22px
}

.rkhy-input-group {
    line-height: normal;
    display: inline-table;
    width: 100%;
    border-collapse: separate
}

.rkhy-input-group > .rkhy-input__inner {
    vertical-align: middle;
    display: table-cell
}

.rkhy-input-group__append, .rkhy-input-group__prepend {
    background-color: #fbfdff;
    color: #97a8be;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    padding: 0 10px;
    width: 1px;
    white-space: nowrap
}

.rkhy-input-group--prepend .rkhy-input__inner, .rkhy-input-group__append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.rkhy-input-group--append .rkhy-input__inner, .rkhy-input-group__prepend {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.rkhy-input-group__append .rkhy-button, .rkhy-input-group__append .rkhy-select, .rkhy-input-group__prepend .rkhy-button, .rkhy-input-group__prepend .rkhy-select {
    display: block;
    margin: -10px
}

.rkhy-input-group__append button.rkhy-button, .rkhy-input-group__append div.rkhy-select .rkhy-input__inner, .rkhy-input-group__append div.rkhy-select:hover .rkhy-input__inner, .rkhy-input-group__prepend button.rkhy-button, .rkhy-input-group__prepend div.rkhy-select .rkhy-input__inner, .rkhy-input-group__prepend div.rkhy-select:hover .rkhy-input__inner {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
    border-top: 0;
    border-bottom: 0
}

.rkhy-input-group__append .rkhy-button, .rkhy-input-group__append .rkhy-input, .rkhy-input-group__prepend .rkhy-button, .rkhy-input-group__prepend .rkhy-input {
    font-size: inherit
}

.rkhy-input-group__prepend {
    border-right: 0
}

.rkhy-input-group__append {
    border-left: 0
}

.rkhy-textarea {
    display: inline-block;
    width: 100%;
    vertical-align: bottom
}

.rkhy-textarea.is-disabled .rkhy-textarea__inner {
    background-color: #eef1f6;
    border-color: #d1dbe5;
    color: #bbb;
    cursor: not-allowed
}

.rkhy-textarea.is-disabled .rkhy-textarea__inner::-webkit-input-placeholder {
    color: #bfcbd9
}

.rkhy-textarea.is-disabled .rkhy-textarea__inner::-moz-placeholder {
    color: #bfcbd9
}

.rkhy-textarea.is-disabled .rkhy-textarea__inner:-ms-input-placeholder {
    color: #bfcbd9
}

.rkhy-textarea.is-disabled .rkhy-textarea__inner::placeholder {
    color: #bfcbd9
}

.rkhy-textarea__inner {
    display: block;
    resize: vertical;
    padding: 5px 7px;
    line-height: 1.5;
    width: 100%;
    font-size: 14px;
    color: #1f2d3d;
    background-color: #fff;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.rkhy-textarea__inner::-webkit-input-placeholder {
    color: #97a8be
}

.rkhy-textarea__inner::-moz-placeholder {
    color: #97a8be
}

.rkhy-textarea__inner:-ms-input-placeholder {
    color: #97a8be
}

.rkhy-textarea__inner::placeholder {
    color: #97a8be
}

.rkhy-textarea__inner:hover {
    border-color: #8391a5
}

.rkhy-textarea__inner:focus {
    outline: 0;
    border-color: #20a0ff
}

.rkhy-input-number {
    display: inline-block;
    width: 180px;
    position: relative;
    line-height: normal
}

.rkhy-input-number .rkhy-input {
    display: block
}

.rkhy-input-number .rkhy-input__inner {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 82px
}

.rkhy-input-number.is-without-controls .rkhy-input__inner {
    padding-right: 10px
}

.rkhy-input-number.is-disabled .rkhy-input-number__decrease, .rkhy-input-number.is-disabled .rkhy-input-number__increase {
    border-color: #d1dbe5;
    color: #d1dbe5
}

.rkhy-input-number.is-disabled .rkhy-input-number__decrease:hover, .rkhy-input-number.is-disabled .rkhy-input-number__increase:hover {
    color: #d1dbe5;
    cursor: not-allowed
}

.rkhy-input-number__decrease, .rkhy-input-number__increase {
    height: auto;
    border-left: 1px solid #bfcbd9;
    width: 36px;
    line-height: 34px;
    top: 1px;
    text-align: center;
    color: #97a8be;
    cursor: pointer;
    position: absolute;
    z-index: 1
}

.rkhy-input-number__decrease:hover, .rkhy-input-number__increase:hover {
    color: #20a0ff
}

.rkhy-input-number__decrease:hover:not(.is-disabled) ~ .rkhy-input .rkhy-input__inner:not(.is-disabled), .rkhy-input-number__increase:hover:not(.is-disabled) ~ .rkhy-input .rkhy-input__inner:not(.is-disabled) {
    border-color: #20a0ff
}

.rkhy-input-number__decrease.is-disabled, .rkhy-input-number__increase.is-disabled {
    color: #d1dbe5;
    cursor: not-allowed
}

.rkhy-input-number__increase {
    right: 0
}

.rkhy-input-number__decrease {
    right: 37px
}

.rkhy-input-number--large {
    width: 200px
}

.rkhy-input-number--large .rkhy-input-number__decrease, .rkhy-input-number--large .rkhy-input-number__increase {
    line-height: 40px;
    width: 42px;
    font-size: 16px
}

.rkhy-input-number--large .rkhy-input-number__decrease {
    right: 43px
}

.rkhy-input-number--large .rkhy-input__inner {
    padding-right: 94px
}

.rkhy-input-number--small {
    width: 130px
}

.rkhy-input-number--small .rkhy-input-number__decrease, .rkhy-input-number--small .rkhy-input-number__increase {
    line-height: 28px;
    width: 30px;
    font-size: 13px
}

.rkhy-input-number--small .rkhy-input-number__decrease {
    right: 31px
}

.rkhy-input-number--small .rkhy-input__inner {
    padding-right: 70px
}

.rkhy-tooltip__popper {
    position: absolute;
    border-radius: 4px;
    padding: 10px;
    z-index: 2000;
    font-size: 12px;
    line-height: 1.2
}

.rkhy-tooltip__popper .popper__arrow, .rkhy-tooltip__popper .popper__arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.rkhy-tooltip__popper .popper__arrow {
    border-width: 6px
}

.rkhy-tooltip__popper .popper__arrow::after {
    content: " ";
    border-width: 5px
}

.rkhy-tooltip__popper[x-placement^=top] {
    margin-bottom: 12px
}

.rkhy-tooltip__popper[x-placement^=top] .popper__arrow {
    bottom: -6px;
    border-top-color: #1f2d3d;
    border-bottom-width: 0
}

.rkhy-tooltip__popper[x-placement^=top] .popper__arrow::after {
    bottom: 1px;
    margin-left: -5px;
    border-top-color: #1f2d3d;
    border-bottom-width: 0
}

.rkhy-tooltip__popper[x-placement^=bottom] {
    margin-top: 12px
}

.rkhy-tooltip__popper[x-placement^=bottom] .popper__arrow {
    top: -6px;
    border-top-width: 0;
    border-bottom-color: #1f2d3d
}

.rkhy-tooltip__popper[x-placement^=bottom] .popper__arrow::after {
    top: 1px;
    margin-left: -5px;
    border-top-width: 0;
    border-bottom-color: #1f2d3d
}

.rkhy-tooltip__popper[x-placement^=right] {
    margin-left: 12px
}

.rkhy-tooltip__popper[x-placement^=right] .popper__arrow {
    left: -6px;
    border-right-color: #1f2d3d;
    border-left-width: 0
}

.rkhy-tooltip__popper[x-placement^=right] .popper__arrow::after {
    bottom: -5px;
    left: 1px;
    border-right-color: #1f2d3d;
    border-left-width: 0
}

.rkhy-tooltip__popper[x-placement^=left] {
    margin-right: 12px
}

.rkhy-tooltip__popper[x-placement^=left] .popper__arrow {
    right: -6px;
    border-right-width: 0;
    border-left-color: #1f2d3d
}

.rkhy-tooltip__popper[x-placement^=left] .popper__arrow::after {
    right: 1px;
    bottom: -5px;
    margin-left: -5px;
    border-right-width: 0;
    border-left-color: #1f2d3d
}

.rkhy-tooltip__popper.is-light {
    background: #fff;
    border: 1px solid #1f2d3d
}

.rkhy-tooltip__popper.is-light[x-placement^=top] .popper__arrow {
    border-top-color: #1f2d3d
}

.rkhy-tooltip__popper.is-light[x-placement^=top] .popper__arrow::after {
    border-top-color: #fff
}

.rkhy-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #1f2d3d
}

.rkhy-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #fff
}

.rkhy-tooltip__popper.is-light[x-placement^=left] .popper__arrow {
    border-left-color: #1f2d3d
}

.rkhy-tooltip__popper.is-light[x-placement^=left] .popper__arrow::after {
    border-left-color: #fff
}

.rkhy-tooltip__popper.is-light[x-placement^=right] .popper__arrow {
    border-right-color: #1f2d3d
}

.rkhy-tooltip__popper.is-light[x-placement^=right] .popper__arrow::after {
    border-right-color: #fff
}

.rkhy-tooltip__popper.is-dark {
    background: #1f2d3d;
    color: #fff
}

.rkhy-slider.is-vertical {
    position: relative
}

.rkhy-slider.is-vertical .rkhy-slider__runway {
    width: 4px;
    height: 100%;
    margin: 0 16px
}

.rkhy-slider.is-vertical .rkhy-slider__bar {
    width: 4px;
    height: auto;
    border-radius: 0 0 3px 3px
}

.rkhy-slider.is-vertical .rkhy-slider__button-wrapper {
    top: auto;
    -ms-transform: translateY(50%);
    transform: translateY(50%)
}

.rkhy-slider.is-vertical .rkhy-slider__stop {
    -ms-transform: translateY(50%);
    transform: translateY(50%)
}

.rkhy-slider.is-vertical.rkhy-slider--with-input {
    padding-bottom: 64px
}

.rkhy-slider.is-vertical.rkhy-slider--with-input .rkhy-slider__input {
    overflow: visible;
    float: none;
    position: absolute;
    bottom: 22px;
    width: 36px;
    margin-top: 15px
}

.rkhy-slider.is-vertical.rkhy-slider--with-input .rkhy-slider__input .rkhy-input__inner {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px
}

.rkhy-slider.is-vertical.rkhy-slider--with-input .rkhy-slider__input .rkhy-input-number__decrease, .rkhy-slider.is-vertical.rkhy-slider--with-input .rkhy-slider__input .rkhy-input-number__increase {
    top: 30px;
    margin-top: -1px;
    border: 1px solid #bfcbd9;
    line-height: 20px;
    box-sizing: border-box;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.rkhy-slider.is-vertical.rkhy-slider--with-input .rkhy-slider__input .rkhy-input-number__decrease {
    width: 18px;
    right: 18px;
    border-bottom-left-radius: 4px
}

.rkhy-slider.is-vertical.rkhy-slider--with-input .rkhy-slider__input .rkhy-input-number__increase {
    width: 19px;
    border-bottom-right-radius: 4px
}

.rkhy-slider.is-vertical.rkhy-slider--with-input .rkhy-slider__input .rkhy-input-number__increase ~ .rkhy-input .rkhy-input__inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.rkhy-slider.is-vertical.rkhy-slider--with-input .rkhy-slider__input:hover .rkhy-input-number__decrease, .rkhy-slider.is-vertical.rkhy-slider--with-input .rkhy-slider__input:hover .rkhy-input-number__increase {
    border-color: #8391a5
}

.rkhy-slider.is-vertical.rkhy-slider--with-input .rkhy-slider__input:active .rkhy-input-number__decrease, .rkhy-slider.is-vertical.rkhy-slider--with-input .rkhy-slider__input:active .rkhy-input-number__increase {
    border-color: #20a0ff
}

.rkhy-slider__runway {
    width: 100%;
    height:rem(10);
    margin: rem(15) 0;
    background-color: #e4e8f1;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    vertical-align: middle
}

.rkhy-slider__runway.show-input {
    margin-right: 160px;
    width: auto
}

.rkhy-slider__runway.disabled {
    cursor: default
}

.rkhy-slider__runway.disabled .rkhy-slider__bar, .rkhy-slider__runway.disabled .rkhy-slider__button {
    background-color: #bfcbd9
}

.rkhy-slider__runway.disabled .rkhy-slider__button-wrapper.dragging, .rkhy-slider__runway.disabled .rkhy-slider__button-wrapper.hover, .rkhy-slider__runway.disabled .rkhy-slider__button-wrapper:hover {
    cursor: not-allowed
}

.rkhy-slider__runway.disabled .rkhy-slider__button.dragging, .rkhy-slider__runway.disabled .rkhy-slider__button.hover, .rkhy-slider__runway.disabled .rkhy-slider__button:hover {
    -ms-transform: scale(1);
    transform: scale(1);
    cursor: not-allowed
}

.rkhy-slider__input {
    float: right;
    margin-top: 3px
}

.rkhy-slider__bar {
    height:rem(10);
    background-color: #20a0ff;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute
}

.rkhy-slider__button-wrapper {
    width:rem(20);
    height:rem(20);
    position: absolute;
    z-index: 1001;
    top:rem(-5);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: transparent;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.rkhy-slider__button-wrapper .rkhy-tooltip {
    vertical-align: middle;
    display: inline-block
}

.rkhy-slider__button-wrapper.hover, .rkhy-slider__button-wrapper:hover {
    cursor: -webkit-grab;
    cursor: grab
}

.rkhy-slider__button-wrapper.dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.rkhy-slider__button {
    width:rem(20);
    height:rem(20);
    background-color: #20a0ff;
    border-radius: 50%;
    transition: .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.rkhy-slider__button.dragging, .rkhy-slider__button.hover, .rkhy-slider__button:hover {
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    background-color: #1c8de0
}

.rkhy-slider__button.hover, .rkhy-slider__button:hover {
    cursor: -webkit-grab;
    cursor: grab
}

.rkhy-slider__button.dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.rkhy-slider__stop {
    position: absolute;
    width:rem(10);
    height:rem(10);
    border-radius: 100%;
    background-color: #bfcbd9;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}
